* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sidebar {
  width: calc(100% * .15);
  height: 100%;
  display: inline-block;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
}

.right-side {
  width: calc(100% * .85);
  height: 100%;
  display: inline-block;
  background: white;
  position: absolute;
  left: 15%;
}


header {
  width: 100%;
  height: 25%;

}

main {
  width: 100%;
  height: 75%;
  position: relative;
}

div {
  /*display: inline-block;*/
}

/*sidebar*/
.user {
  width: 100%;
  height: 33.33%;
  background: red;
}

.nav-vertical {
  width: 100%;
  height: 66.66%;
  background: orange;
}

/*main*/

  /*header*/
.search {
  width: 100%;
  height: 25%;
  background: blue;
}

.job-title {
  height: 75%;
  width: 100%;
  background: lightblue;
}

  /*job info dropdowns*/
.nav-horizontal {
  height: 10%;
  width: 100%;
  background: lightgreen;
}

.job-attributes {
  height: 30%;
  width: 100%;
  background: green;
}

  /*job description*/

.job-description {
  width: 75%;
  height: 60%;
  background: darkgreen;
  display: inline-block;
}

  /*sharing job*/
.share-job {
  width: 25%;
  height: 60%;
  display: inline-block;
  position: absolute;
}

.social-media {
  height: 33.33%;
  background: purple;
}

.share-job-options {
  height: 66.66%;
  background: plum;
}
